@charset 'UTF-8';

a,img {
    -webkit-touch-callout: none;
}

a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background-color: #f5f8f9;
    -webkit-text-size-adjust: 100%!important;
    -webkit-text-size-adjust: none;
}

input {
    outline: 0;
}

li,ol,ul {
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #afafaf;
}

.clear:after,.clearfix {
    font-size: 0;
    display: block;
    clear: both;
    height: 0;
    content: '';
}

.clear {
    zoom: 1;
}

.aninode {
    visibility: hidden;
}

.animated .aninode,.animated.aninode {
    visibility: visible;
}

header {
    font-size: 14px;
    position: relative;
    height: 50px;
    border-bottom: #eceff2;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px #dfe7eb;
    box-shadow: 0 1px 3px #dfe7eb;
}

.header-in-pc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-in-pc .item a {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    color: #3d4347;
}

.header-in-pc .item a:hover {
    color: #38b7ea;
}

.header-in-pc .logo {
    display: block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    -webkit-animation: logoInto 10s linear infinite;
    -moz-animation: logoInto 10s linear infinite;
    animation: logoInto 10s linear infinite;
    border-radius: 100%;
}

.header-in-pc .logo img {
    width: 100%;
}

.header-in-pc .github {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/icon-github-3.png) no-repeat;
    background-size: contain;
}

.header-in-mobile {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-in-mobile #logo {
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
    width: 20px;
    width: 20px;
    height: 20px;
    height: 20px;
}

.header-in-mobile #logo img {
    width: 100%;
}

.header-in-mobile #tips {
    position: absolute;
    top: 19px;
    right: 15px;
    width: 20px;
    height: 13px;
    cursor: pointer;
}

.header-in-mobile #tips .line1 {
    -webkit-animation: line1 .3s,aline1 .3s .3s forwards;
    -moz-animation: line1 .3s,aline1 .3s .3s forwards;
    animation: line1 .3s,aline1 .3s .3s forwards;
}

.header-in-mobile #tips .line2 {
    -webkit-animation: line2 .3s forwards;
    -moz-animation: line2 .3s forwards;
    animation: line2 .3s forwards;
    opacity: 0;
}

.header-in-mobile #tips .line3 {
    -webkit-animation: line3 .3s,aline3 .3s .3s forwards;
    -moz-animation: line3 .3s,aline3 .3s .3s forwards;
    animation: line3 .3s,aline3 .3s .3s forwards;
}

.header-in-mobile #tips .d-line1 {
    -webkit-animation: d-aline1 .3s,d-line1 .3s .3s forwards;
    -moz-animation: d-aline1 .3s,d-line1 .3s .3s forwards;
    animation: d-aline1 .3s,d-line1 .3s .3s forwards;
}

.header-in-mobile #tips .d-line2 {
    -webkit-animation: d-line2 .6s forwards;
    -moz-animation: d-line2 .6s forwards;
    animation: d-line2 .6s forwards;
}

.header-in-mobile #tips .d-line3 {
    -webkit-animation: d-aline3 .3s,d-line3 .3s .3s forwards;
    -moz-animation: d-aline3 .3s,d-line3 .3s .3s forwards;
    animation: d-aline3 .3s,d-line3 .3s .3s forwards;
}

.header-in-mobile #tips>div {
    position: absolute;
    left: 0;
    width: 17px;
    height: 1px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    background-color: #38b7ea;
}

.header-in-mobile #tips>div:nth-of-type(1) {
    top: 0;
}

.header-in-mobile #tips>div:nth-of-type(2) {
    top: 6px;
}

.header-in-mobile #tips>div:nth-of-type(3) {
    top: 12px;
}

#nav-in-mobile {
    position: absolute;
    top: 50px;
    right: 5px;
    display: none;
    width: 100px;
    opacity: 0;
    background-color: #38b7ea;
    -webkit-box-shadow: 0 1px 3px #dfe7eb;
    box-shadow: 0 1px 3px #dfe7eb;
}

#nav-in-mobile.active {
    display: block;
    -webkit-animation: showList .6s forwards;
    -moz-animation: showList .6s forwards;
    animation: showList .6s forwards;
}

#nav-in-mobile.active2 {
    -webkit-animation: hideList .6s forwards;
    -moz-animation: hideList .6s forwards;
    animation: hideList .6s forwards;
}

#nav-in-mobile .item a {
    line-height: 34px;
    display: block;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    text-align: center;
    color: #fff;
}

#nav-in-mobile .item a:hover {
    color: #38b7ea;
    background-color: #fff;
}

#nav-in-mobile .san {
    position: absolute;
    top: -20px;
    right: 12px;
    border: 10px solid #38b7ea;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

@-webkit-keyframes logoInto {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes logoInto {
    0% {
        -moz-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes logoInto {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes line1 {
    0% {
        top: 0;
    }

    100% {
        top: 6px;
    }
}

@-moz-keyframes line1 {
    0% {
        top: 0;
    }

    100% {
        top: 6px;
    }
}

@keyframes line1 {
    0% {
        top: 0;
    }

    100% {
        top: 6px;
    }
}

@-webkit-keyframes line2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes line2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes line2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes line3 {
    0% {
        top: 12px;
    }

    100% {
        top: 6px;
    }
}

@-moz-keyframes line3 {
    0% {
        top: 12px;
    }

    100% {
        top: 6px;
    }
}

@keyframes line3 {
    0% {
        top: 12px;
    }

    100% {
        top: 6px;
    }
}

@-webkit-keyframes aline1 {
    0% {
        top: 6px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        top: 6px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@-moz-keyframes aline1 {
    0% {
        top: 6px;
        -moz-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        top: 6px;
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@keyframes aline1 {
    0% {
        top: 6px;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        top: 6px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@-webkit-keyframes aline3 {
    0% {
        top: 6px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        top: 6px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

@-moz-keyframes aline3 {
    0% {
        top: 6px;
        -moz-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        top: 6px;
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

@keyframes aline3 {
    0% {
        top: 6px;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        top: 6px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

@-webkit-keyframes d-line1 {
    0% {
        top: 6px;
    }

    100% {
        top: 0;
    }
}

@-moz-keyframes d-line1 {
    0% {
        top: 6px;
    }

    100% {
        top: 0;
    }
}

@keyframes d-line1 {
    0% {
        top: 6px;
    }

    100% {
        top: 0;
    }
}

@-webkit-keyframes d-line2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes d-line2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes d-line2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes d-line3 {
    0% {
        top: 6px;
    }

    100% {
        top: 12px;
    }
}

@-moz-keyframes d-line3 {
    0% {
        top: 6px;
    }

    100% {
        top: 12px;
    }
}

@keyframes d-line3 {
    0% {
        top: 6px;
    }

    100% {
        top: 12px;
    }
}

@-webkit-keyframes d-aline1 {
    0% {
        top: 6px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    100% {
        top: 6px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@-moz-keyframes d-aline1 {
    0% {
        top: 6px;
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    100% {
        top: 6px;
        -moz-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes d-aline1 {
    0% {
        top: 6px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    100% {
        top: 6px;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
    }
}

@-webkit-keyframes d-aline3 {
    0% {
        top: 6px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    100% {
        top: 6px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@-moz-keyframes d-aline3 {
    0% {
        top: 6px;
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    100% {
        top: 6px;
        -moz-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes d-aline3 {
    0% {
        top: 6px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    100% {
        top: 6px;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
    }
}

@-webkit-keyframes showList {
    0% {
        height: 0;
        opacity: 0;
    }

    100% {
        height: 306px;
        opacity: 1;
    }
}

@-moz-keyframes showList {
    0% {
        height: 0;
        opacity: 0;
    }

    100% {
        height: 306px;
        opacity: 1;
    }
}

@keyframes showList {
    0% {
        height: 0;
        opacity: 0;
    }

    100% {
        height: 306px;
        opacity: 1;
    }
}

@-webkit-keyframes hideList {
    0% {
        height: 306px;
        opacity: 1;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}

@-moz-keyframes hideList {
    0% {
        height: 306px;
        opacity: 1;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}

@keyframes hideList {
    0% {
        height: 306px;
        opacity: 1;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}

@media (max-width:768px) {
    .header-in-pc {
        display: none;
    }

    .header-in-mobile {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@font-face {
    font-family:proxima;src:url(//:) format('no404');src:url('font/Proxima Nova/ProximaNova-Reg.otf');
}

@font-face {
    font-family:proxima-light;src:url(//:) format('no404');src:url('font/Proxima Nova/ProximaNova-Light.otf');
}

@font-face {
    font-family:proxima-bold;src:url(//:) format('no404');src:url('font/Proxima Nova/ProximaNova-Bold.otf');
}

body,html {
    height: 100%;
}

body {
    font-family: proxima;
    line-height: 1.6;
}

.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    margin-top: -50px;
}

aside {
    width: 300px;
    height: 100%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.aside-wrap {
    height: 100%;
    margin-top: 70px;
    background-color: #68a5ed;
}

.aside-wrap .banner {
    width: 100%;
}

.aside-wrap .avtor {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: 20px;
    padding: 15px;
    border-radius: 100%;
    background-color: #fff;
}

.aside-wrap .avtor img {
    width: 30px;
    height: 30px;
}

.aside-wrap .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-top: 30px;
    margin-left: 16px;
    color: #fff;
}

.aside-wrap .desc {
    font-size: 12px;
    line-height: 2;
    margin: 20px 16px;
    color: #fff;
}

.content-wrap {
    overflow-y: auto;
    height: 100%;
    margin-top: 50px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.content-wrap::-webkit-scrollbar {
    display: none;
}

hgroup {
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
}

hgroup .header {
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    padding: 0 16px;
    padding-top: 2px;
    text-indent: 18px;
    border-bottom: 1px solid #eceff2;
    background: url(/images/index/index-liebiao.png) 10px center no-repeat;
    background-size: 18px;
}

.card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 16px;
    border-bottom: 1px solid #eceff2;
}

.card .card-img {
    display: block;
    width: 65px;
    height: 65px;
    margin-right: 16px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.card .card-img img {
    width: 100%;
    height: 100%;
}

.card .card-info {
    font-size: 14px;
    line-height: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.card .card-info .card-title a {
    font-weight: 700;
    color: #333;
}

.card .card-info .desc {
    line-height: 1.8;
    margin-top: 8px;
    color: #5b5b5b;
}

.card .card-info .time {
    font-family: proxima;
    font-size: 12px;
    line-height: 2;
    color: #ccc;
}

footer {
    font-family: proxima;
    font-size: 12px;
    line-height: 50px;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    color: #ccc;
    border-top: 1px solid #eceff2;
}

@media (max-width:768px) {
    .wrapper {
        display: block;
        overflow: visible;
        width: 100%;
        padding: 0 16px;
    }

    aside {
        width: 100%;
        height: auto;
    }

    aside .aside-wrap {
        background-color: transparent;
    }

    aside .avtor {
        -webkit-box-shadow: 0 1px 3px #dfe7eb;
        box-shadow: 0 1px 3px #dfe7eb;
    }

    aside .desc,aside .title {
        display: none;
    }

    .content-wrap {
        overflow-y: visible;
        height: auto;
        margin-top: 10px;
    }

    hgroup {
        width: 100%;
        margin: 0;
    }
}