@charset 'UTF-8';

.highlight {
    margin: 16px 0;
    border: 1px solid #dedede;
    background: #fff;
}

.highlight pre {
    overflow-x: auto;
    padding: 0 16px;
}

.highlight code {
    font-family: SourceCodePro;
}

.highlighter-rouge .highlight {
    background: #eef;
}

.highlight .c {
    font-size: 12px;
    color: #998;
}

.highlight .err {
    color: #a61717;
}

.highlight .k {
    font-weight: 700;
}

.highlight .o {
    font-weight: 700;
}

.highlight .cm {
    font-style: italic;
    color: #998;
}

.highlight .cp {
    font-weight: 700;
    color: #999;
}

.highlight .c1 {
    font-size: 12px;
    color: #998;
}

.highlight .cs {
    font-weight: 700;
    font-style: italic;
    color: #999;
}

.highlight .gd {
    color: #000;
    background-color: #fdd;
}

.highlight .gd .x {
    color: #000;
    background-color: #faa;
}

.highlight .ge {
    font-style: italic;
}

.highlight .gr {
    color: #a00;
}

.highlight .gh {
    color: #999;
}

.highlight .gi {
    color: #000;
    background-color: #dfd;
}

.highlight .gi .x {
    color: #000;
    background-color: #afa;
}

.highlight .go {
    color: #888;
}

.highlight .gp {
    color: #555;
}

.highlight .gs {
    font-weight: 700;
}

.highlight .gu {
    color: #aaa;
}

.highlight .gt {
    color: #a00;
}

.highlight .kc {
    font-weight: 700;
}

.highlight .kd {
    font-weight: 700;
}

.highlight .kp {
    font-weight: 700;
}

.highlight .kr {
    font-weight: 700;
}

.highlight .kt {
    font-weight: 700;
    color: #458;
}

.highlight .m {
    color: #099;
}

.highlight .s {
    color: #d14;
}

.highlight .na {
    color: teal;
}

.highlight .nb {
    color: #0086b3;
}

.highlight .nc {
    font-weight: 700;
    color: #458;
}

.highlight .no {
    color: teal;
}

.highlight .ni {
    color: purple;
}

.highlight .ne {
    font-weight: 700;
    color: #900;
}

.highlight .nf {
    font-weight: 700;
    color: #900;
}

.highlight .nn {
    color: #555;
}

.highlight .nt {
    color: navy;
}

.highlight .nv {
    color: teal;
}

.highlight .ow {
    font-weight: 700;
}

.highlight .w {
    color: #bbb;
}

.highlight .mf {
    color: #099;
}

.highlight .mh {
    color: #099;
}

.highlight .mi {
    color: #099;
}

.highlight .mo {
    color: #099;
}

.highlight .sb {
    color: #d14;
}

.highlight .sc {
    color: #d14;
}

.highlight .sd {
    color: #d14;
}

.highlight .s2 {
    color: #d14;
}

.highlight .se {
    color: #d14;
}

.highlight .sh {
    color: #d14;
}

.highlight .si {
    color: #d14;
}

.highlight .sx {
    color: #d14;
}

.highlight .sr {
    color: #009926;
}

.highlight .s1 {
    color: #d14;
}

.highlight .ss {
    color: #990073;
}

.highlight .bp {
    color: #999;
}

.highlight .vc {
    color: teal;
}

.highlight .vg {
    color: teal;
}

.highlight .vi {
    color: teal;
}

.highlight .il {
    color: #099;
}

a,img {
    -webkit-touch-callout: none;
}

a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background-color: #f5f8f9;
    -webkit-text-size-adjust: 100%!important;
    -webkit-text-size-adjust: none;
}

input {
    outline: 0;
}

li,ol,ul {
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #afafaf;
}

.clear:after,.clearfix {
    font-size: 0;
    display: block;
    clear: both;
    height: 0;
    content: '';
}

.clear {
    zoom: 1;
}

.site-header {
    height: 80px;
    border-bottom: #eceff2;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px #dfe7eb;
    box-shadow: 0 1px 3px #dfe7eb;
}

.header-left {
    float: left;
    height: 80px;
}

.header-left .header-logo {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    padding: 20px;
    border-right: 1px solid #eceff2;
}

.header-left .header-logo a {
    display: block;
    width: 40px;
    height: 40px;
}

.header-left .header-logo a img {
    width: 100%;
}

.header-left .header-nav {
    float: left;
    height: 80px;
    margin: 0;
    margin-left: 20px;
}

.header-left .header-nav .item {
    line-height: 80px;
    float: left;
    height: 80px;
    margin: 0 25px;
}

.header-left .header-nav .item a {
    color: #2b2f32;
}

.header-left .header-nav .item.active a {
    color: #2b90dd;
}

.header-right {
    float: right;
    height: 80px;
    padding: 0 10px;
    border-left: 1px solid #eceff2;
}

.header-right .contact {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 25px 10px;
}

.header-right .jianshu,.header-right .segment {
    border-radius: 4px;
}

.header-right .jianshu a,.header-right .segment a {
    line-height: 30px;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #2b2f32;
}

.header-right .github {
    border-radius: 4px;
}

.header-right .github a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/icon-github-3.png) no-repeat;
    background-size: contain;
}

footer {
    font-family: proxima;
    font-size: 12px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    color: #ccc;
    border-top: 1px solid #eceff2;
}

.index-content {
    padding-top: 1px;
}

.index-content .myself {
    float: left;
    width: 250px;
    margin: 20px;
    padding-bottom: 40px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px #dfe7eb;
    box-shadow: 0 1px 3px #dfe7eb;
}

.index-content .myself img {
    display: block;
    width: 120px;
    height: 120px;
    margin: 40px auto 0;
    border-radius: 200px;
}

.index-content .myself h2 {
    font-size: 18px;
    margin: 10px auto;
    text-align: center;
    color: #3d4347;
}

.index-content .myself p {
    font-family: fzlt-qianhei;
    font-size: 12px;
    text-align: center;
}

.index-content .myself p.desc1 {
    color: #565a5f;
}

.index-content .myself p.desc1 a {
    color: #38b7ea;
}

.index-content .myself p.desc2 {
    color: #b3b6b8;
}

.index-content .myself .weibo {
    font-family: fzlt-qianhei;
    font-size: 13px;
    line-height: 32px;
    display: block;
    width: 150px;
    height: 30px;
    margin: 15px auto 0;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    background-color: #38b7ea;
}

.index-content .myself .front {
    font-size: 13px;
    line-height: 50px;
    margin-top: 20px;
    text-align: center;
    color: #b3b6b8;
    border-top: 1px solid #eceff2;
    border-bottom: 1px solid #eceff2;
}

.index-content .myself .front .year {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    border-right: 1px solid #eceff2;
}

.index-content .myself .front .worki {
    float: right;
    width: 50%;
}

.index-content .myself .otherlike {
    font-size: 12px;
    line-height: 34px;
    padding: 10px 0;
    color: #b3b6b8;
    border-bottom: 1px solid #eceff2;
}

.index-content .myself .otherlike .qq {
    width: 160px;
    height: 30px;
    margin: 0 auto;
    text-indent: 30px;
    background: url(/images/icon-QQ.png) 6px center no-repeat;
    background-size: 18px 18px;
}

.index-content .myself .otherlike .github {
    overflow: hidden;
    width: 160px;
    height: 30px;
    margin: 0 auto;
    text-indent: 30px;
    text-overflow: ellipsis;
    background: url(/images/icon-github-1.png) 8px center no-repeat;
    background-size: 14px 14px;
}

.index-content .myself .ercode {
    border-radius: 0;
}

.index-content .mylovefile {
    font-family: fzlt-qianhei;
    float: right;
    width: 250px;
    margin: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px #dfe7eb;
    box-shadow: 0 1px 3px #dfe7eb;
}

.index-content .mylovefile .top {
    line-height: 50px;
    height: 50px;
    padding-left: 16px;
    border-bottom: 1px solid #eceff2;
}

.index-content .mylovefile .list {
    font-size: 14px;
    padding: 16px;
}

.index-content .mylovefile .list p {
    padding: 16px 0;
    border-bottom: 1px solid #eceff2;
}

.index-content .mylovefile .list p:first-child {
    padding-top: 0;
}

.index-content .mylovefile .list p a {
    color: #3d4347;
}

.index-content .content {
    overflow: hidden;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 3px #dfe7eb;
    box-shadow: 0 1px 3px #dfe7eb;
}

.index-content .section {
    font-family: fzlt-qianhei;
    margin-top: 20px;
    background-color: #fff;
}

.index-content .section .top {
    line-height: 50px;
    height: 50px;
    padding-left: 16px;
    border-bottom: 1px solid #eceff2;
}

.index-content .cards {
    padding: 16px;
}

.index-content .cards .card {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eceff2;
}

.index-content .cards .card .card-img {
    display: block;
    float: left;
    width: 120px;
    height: 90px;
    margin-right: 16px;
}

.index-content .cards .card .card-img img {
    width: 100%;
}

.index-content .cards .card .card-info {
    font-size: 14px;
    position: relative;
    overflow: hidden;
    height: 90px;
}

.index-content .cards .card .card-info .card-title {
    font-weight: 700;
    line-height: 1;
    color: #3d4347;
}

.index-content .cards .card .card-info .time {
    font-family: proxima;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    right: 0;
    bottom: -2px;
    text-align: right;
    color: #ccc;
}

.index-content .cards .card .card-info .desc {
    margin-top: 8px;
    color: #ccc;
}

@font-face {
    font-family:proxima;src:url(//:) format('no404');src:url('font/Proxima Nova/ProximaNova-Reg.otf');
}

@font-face {
    font-family:proxima-light;src:url(//:) format('no404');src:url('font/Proxima Nova/ProximaNova-Light.otf');
}

@font-face {
    font-family:proxima-bold;src:url(//:) format('no404');src:url('font/Proxima Nova/ProximaNova-Bold.otf');
}

@font-face {
    font-family:fzlt-qianhei;src:url(//:) format('no404');src:url(font/Fonts/fzlt-qianhei.otf);
}

body {
    font-family: proxima;
    line-height: 1.6;
}