@import "_lib/_syntax-highlighting";
@import "_part/_index_header";
@import "_part/_index_footer";
@import "_part/_page_content";
@import "_part/_comments";
@import "_part/_proxima";

body {
	font-family: $fonts;
	font-size: 16px;
	line-height: 1.6;
	text-align: justify;
}
p {
	word-wrap: break-word;
	word-break: break-all;
}
