@charset 'UTF-8';

.highlight {
    background: #fff;
}

.highlighter-rouge .highlight {
    background: #eef;
}

.highlight .c {
    font-size: 12px;
    color: #998;
}

.highlight .err {
    color: #a61717;
}

.highlight .k {
    font-weight: 700;
}

.highlight .o {
    font-weight: 700;
}

.highlight .cm {
    font-style: italic;
    color: #998;
}

.highlight .cp {
    font-weight: 700;
    color: #999;
}

.highlight .c1 {
    font-size: 12px;
    color: #998;
}

.highlight .cs {
    font-weight: 700;
    font-style: italic;
    color: #999;
}

.highlight .gd {
    color: #000;
    background-color: #fdd;
}

.highlight .gd .x {
    color: #000;
    background-color: #faa;
}

.highlight .ge {
    font-style: italic;
}

.highlight .gr {
    color: #a00;
}

.highlight .gh {
    color: #999;
}

.highlight .gi {
    color: #000;
    background-color: #dfd;
}

.highlight .gi .x {
    color: #000;
    background-color: #afa;
}

.highlight .go {
    color: #888;
}

.highlight .gp {
    color: #555;
}

.highlight .gs {
    font-weight: 700;
}

.highlight .gu {
    color: #aaa;
}

.highlight .gt {
    color: #a00;
}

.highlight .kc {
    font-weight: 700;
}

.highlight .kd {
    font-weight: 700;
}

.highlight .kp {
    font-weight: 700;
}

.highlight .kr {
    font-weight: 700;
}

.highlight .kt {
    font-weight: 700;
    color: #458;
}

.highlight .m {
    color: #099;
}

.highlight .s {
    color: #d14;
}

.highlight .na {
    color: teal;
}

.highlight .nb {
    color: #0086b3;
}

.highlight .nc {
    font-weight: 700;
    color: #458;
}

.highlight .no {
    color: teal;
}

.highlight .ni {
    color: purple;
}

.highlight .ne {
    font-weight: 700;
    color: #900;
}

.highlight .nf {
    font-weight: 700;
    color: #900;
}

.highlight .nn {
    color: #555;
}

.highlight .nt {
    color: navy;
}

.highlight .nv {
    color: teal;
}

.highlight .ow {
    font-weight: 700;
}

.highlight .w {
    color: #bbb;
}

.highlight .mf {
    color: #099;
}

.highlight .mh {
    color: #099;
}

.highlight .mi {
    color: #099;
}

.highlight .mo {
    color: #099;
}

.highlight .sb {
    color: #d14;
}

.highlight .sc {
    color: #d14;
}

.highlight .sd {
    color: #d14;
}

.highlight .s2 {
    color: #d14;
}

.highlight .se {
    color: #d14;
}

.highlight .sh {
    color: #d14;
}

.highlight .si {
    color: #d14;
}

.highlight .sx {
    color: #d14;
}

.highlight .sr {
    color: #009926;
}

.highlight .s1 {
    color: #d14;
}

.highlight .ss {
    color: #990073;
}

.highlight .bp {
    color: #999;
}

.highlight .vc {
    color: teal;
}

.highlight .vg {
    color: teal;
}

.highlight .vi {
    color: teal;
}

.highlight .il {
    color: #099;
}

a,img {
    -webkit-touch-callout: none;
}

a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background-color: #f5f8f9;
    -webkit-text-size-adjust: 100%!important;
    -webkit-text-size-adjust: none;
}

input {
    outline: 0;
}

li,ol,ul {
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #afafaf;
}

.clear:after,.clearfix {
    font-size: 0;
    display: block;
    clear: both;
    height: 0;
    content: '';
}

.clear {
    zoom: 1;
}

.site-header {
    height: 80px;
    border-bottom: #f5f8f9;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px #c8d5d9;
    box-shadow: 0 1px 3px #c8d5d9;
}

.header-left {
    float: left;
    height: 80px;
}

.header-left .header-logo {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    padding: 20px;
    border-right: 1px solid #c8d5d9;
}

.header-left .header-logo a {
    display: block;
    width: 40px;
    height: 40px;
}

.header-left .header-logo a img {
    width: 100%;
}

.header-left .header-nav {
    float: left;
    height: 80px;
    margin: 0;
    margin-left: 20px;
}

.header-left .header-nav .item {
    line-height: 80px;
    float: left;
    height: 80px;
    margin: 0 25px;
}

.header-left .header-nav .item a {
    color: #2b2f32;
}

.header-left .header-nav .item.active a {
    color: #2b90dd;
}

.header-right {
    float: right;
    height: 80px;
    padding: 0 10px;
    border-left: 1px solid #c8d5d9;
}

.header-right .contact {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 25px 10px;
}

.header-right .jianshu,.header-right .segment {
    border-radius: 4px;
}

.header-right .jianshu a,.header-right .segment a {
    line-height: 30px;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #2b2f32;
}

.header-right .github {
    border-radius: 4px;
}

.header-right .github a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/icon-github-3.png) no-repeat;
    background-size: contain;
}

.comments {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.ds-powered-by {
    display: none;
}

@font-face {
    font-family:proxima;src:url(//:) format('no404');src:url('font/Proxima Nova/ProximaNova-Reg.otf');
}

@font-face {
    font-family:proxima-light;src:url(//:) format('no404');src:url('font/Proxima Nova/ProximaNova-Light.otf');
}

@font-face {
    font-family:proxima-bold;src:url(//:) format('no404');src:url('font/Proxima Nova/ProximaNova-Bold.otf');
}

@font-face {
    font-family:fzlt-qianhei;src:url(//:) format('no404');src:url(font/Fonts/fzlt-qianhei.otf);
}

@font-face {
    font-family:'Source Code Pro Black';src:url(//:) format('no404');src:url(font/SourceCodePro/OTF/SourceCodePro-Black.oft);
}

body {
    font-family: proxima;
    font-size: 16px;
    line-height: 2;
    text-align: justify;
    background-color: #f7f7f7;
}

p {
    word-wrap: break-word;
    word-break: break-all;
}