.highlight {
    font-family: consolas;
    background: #fff;
}

.highlighter-rouge .highlight {
    background: #eef;
}

.highlight .c {
    font-size: 12px;
    color: #998;
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}

.highlight .k {
    font-weight: 700;
}

.highlight .o {
    font-weight: 700;
}

.highlight .cm {
    font-style: italic;
    color: #998;
}

.highlight .cp {
    font-weight: 700;
    color: #999;
}

.highlight .c1 {
    font-size: 12px;
    color: #998;
}

.highlight .cs {
    font-weight: 700;
    font-style: italic;
    color: #999;
}

.highlight .gd {
    color: #000;
    background-color: #fdd;
}

.highlight .gd .x {
    color: #000;
    background-color: #faa;
}

.highlight .ge {
    font-style: italic;
}

.highlight .gr {
    color: #a00;
}

.highlight .gh {
    color: #999;
}

.highlight .gi {
    color: #000;
    background-color: #dfd;
}

.highlight .gi .x {
    color: #000;
    background-color: #afa;
}

.highlight .go {
    color: #888;
}

.highlight .gp {
    color: #555;
}

.highlight .gs {
    font-weight: 700;
}

.highlight .gu {
    color: #aaa;
}

.highlight .gt {
    color: #a00;
}

.highlight .kc {
    font-weight: 700;
}

.highlight .kd {
    font-weight: 700;
}

.highlight .kp {
    font-weight: 700;
}

.highlight .kr {
    font-weight: 700;
}

.highlight .kt {
    font-weight: 700;
    color: #458;
}

.highlight .m {
    color: #099;
}

.highlight .s {
    color: #d14;
}

.highlight .na {
    color: teal;
}

.highlight .nb {
    color: #0086b3;
}

.highlight .nc {
    font-weight: 700;
    color: #458;
}

.highlight .no {
    color: teal;
}

.highlight .ni {
    color: purple;
}

.highlight .ne {
    font-weight: 700;
    color: #900;
}

.highlight .nf {
    font-weight: 700;
    color: #900;
}

.highlight .nn {
    color: #555;
}

.highlight .nt {
    color: navy;
}

.highlight .nv {
    color: teal;
}

.highlight .ow {
    font-weight: 700;
}

.highlight .w {
    color: #bbb;
}

.highlight .mf {
    color: #099;
}

.highlight .mh {
    color: #099;
}

.highlight .mi {
    color: #099;
}

.highlight .mo {
    color: #099;
}

.highlight .sb {
    color: #d14;
}

.highlight .sc {
    color: #d14;
}

.highlight .sd {
    color: #d14;
}

.highlight .s2 {
    color: #d14;
}

.highlight .se {
    color: #d14;
}

.highlight .sh {
    color: #d14;
}

.highlight .si {
    color: #d14;
}

.highlight .sx {
    color: #d14;
}

.highlight .sr {
    color: #009926;
}

.highlight .s1 {
    color: #d14;
}

.highlight .ss {
    color: #990073;
}

.highlight .bp {
    color: #999;
}

.highlight .vc {
    color: teal;
}

.highlight .vg {
    color: teal;
}

.highlight .vi {
    color: teal;
}

.highlight .il {
    color: #099;
}

body,li,ol,p,ul {
    margin: 0;
    padding: 0;
}

input {
    output: none;
}

li,ol,ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #afafaf;
}

a:hover {
    color: #fff;
}

.clear,.clearfix:after {
    font-size: 0;
    display: block;
    clear: both;
    height: 0;
    content: '';
}

.clearfix {
    zoom: 1;
}

header.site-header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 78px;
    background-color: #ccc;
    background-color: #353535;
}

.header-left {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

.header-left .header-logo {
    display: block;
    float: left;
    width: 38px;
    height: 38px;
    margin: 20px;
}

.header-left .header-logo img {
    width: 100%;
}

.header-nav {
    float: left;
    height: 100%;
}

.header-nav .item {
    line-height: 78px;
    float: left;
    height: 100%;
    padding: 0 20px;
}

.header-nav .item:last-child {
    position: relative;
}

.header-nav .item:last-child:hover .more-nav {
    display: block;
}

.header-nav .item:last-child .more-nav {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #222;
}

.header-nav .item:last-child .more-nav .item2 {
    line-height: 38px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
}

.header-nav .item:last-child .more-nav .item2:hover {
    background-color: #333;
}

.header-right {
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

.login {
    line-height: 38px;
    float: left;
    margin: 20px 0;
}

.signup {
    float: left;
    margin: 20px;
    border-radius: 2px;
    background-color: #2f8be6;
}

.signup a {
    font-size: 13px;
    line-height: 40px;
    padding: 30px;
    color: #fff;
}

.signup:hover {
    background-color: #1b7ee1;
}

.search {
    float: left;
    width: 38px;
    height: 38px;
    margin: 20px 0;
    background-color: #484848;
}

.search a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/images/icon-node-0.png) center center no-repeat;
    background-size: 50%;
}

.sli-button {
    position: relative;
    float: left;
    width: 38px;
    height: 38px;
    margin: 20px;
    border-radius: 2px;
    background-color: #484848;
}

.sli-button span {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 2px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #2f8be6;
}

.sli-button span.t {
    top: 30%;
}

.sli-button span.m {
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.sli-button span.b {
    bottom: 30%;
}

.header-space {
    width: 100%;
    height: 78px;
}

.site-footer {
    width: 100%;
    background: url(/images/footer-bg.png) center bottom no-repeat,#222;
    background-size: contain;
}

.site-footer .wrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1026px;
    margin: 0 auto;
    padding: 40px 20px;
}

.most-link {
    float: left;
    width: 50%;
}

.most-link .title {
    font-size: 24px;
    color: #fff;
}

.most-link p {
    margin: 15px 0;
}

.most-link p span {
    font-size: 12px;
    margin-left: 20px;
    color: #666;
}

.profile {
    float: right;
    width: 50%;
}

.profile .title {
    font-size: 24px;
    color: #fff;
}

.profile p {
    margin: 15px 0;
}

.profile p span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/images/icon-mgdb-0.png) center center no-repeat;
    background-size: contain;
}

.profile p a {
    line-height: 14px;
    padding-left: 20px;
}

.post {
    width: 100%;
}

.post .wrapper {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.post-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.post-header p {
    font-size: 13px;
    margin-top: -15px;
    color: #aaa;
}

.post-content {
    font-size: 14px;
}

.post-content p {
    margin: 20px 0;
}

.post-content blockquote {
    font-size: 14px;
    margin: 20px 0;
    padding-left: 10px;
    color: grey;
    border-left: 4px solid grey;
}

.post-content a {
    text-decoration: none;
    color: #4078c0;
}

.post-content a:hover {
    text-decoration: underline;
}

.post-content code {
    font-size: 13px;
    margin: 0 2px;
    padding: 1px 5px;
    border-radius: 2px;
    background-color: #f7f7f7;
}

.post-content pre {
    line-height: 1.3;
    overflow-x: auto;
    margin: 20px 0;
    padding: 8px 12px;
    border-radius: 2px;
    background-color: #f7f7f7;
}

.post-content pre code {
    padding: 0;
    border: 0;
    background: 0 0;
}

.post-content img {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 8px #ccc;
    box-shadow: 0 0 8px #ccc;
}

.comments {
    width: 100%;
}

.comments .wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

@font-face {
    font-family:proxima;src:url(//:) format('no404');src:url('font/Proxima Nova/ProximaNova-Reg.otf');
}

@font-face {
    font-family:proxima-light;src:url(//:) format('no404');src:url('font/Proxima Nova/ProximaNova-Light.otf');
}

@font-face {
    font-family:proxima-bold;src:url(//:) format('no404');src:url('font/Proxima Nova/ProximaNova-Bold.otf');
}

body {
    font-family: proxima;
    font-size: 16px;
    line-height: 1.6;
}