@import "_part/_index_header";
@import "_part/_proxima";

html, body {
	height: 100%;
}

@mixin screen_w768 {
	@media (max-width: 768px) {
		@content;
	}
}

body {
	font-family: proxima;
	line-height: 1.6;
}

.wrapper {
	height: 100%;
	margin-top: -50px;
	overflow: hidden;
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

aside {
    width: 300px;
    height: 100%;
	flex-grow: 0;
}
.aside-wrap {
	margin-top: 70px;
	background-color: #fff;
	height: 100%;

	.banner {
		width: 100%;
	}

	.avtor {
		width: 60px;
		height: 60px;
		border-radius: 100%;
		background-color: #fff;
		padding: 15px;
		box-sizing: border-box;
		margin-left: 20px;
		margin-top: -30px;
		position: relative;
		border: 1px solid rgba(105, 167, 240, .5);
		img {
			width: 30px;
			height: 30px;
		}
	}

	.title {
		color: #5b5b5b;
		font-size: 18px;
		font-weight: bold;
		margin-left: 16px;
		margin-top: 30px;
		line-height: 1;
	}

	.desc {
		margin: 20px 16px;
		color: #5b5b5b;
		font-size: 12px;
		line-height: 2;
	}
}

.content-wrap {
	margin-top: 50px;
	flex-grow: 1;
	height: 100%;
	overflow-y: auto;
	&::-webkit-scrollbar {
		display: none;
	}
}

hgroup {
	background-color: #fff;
	width: 90%;
	margin: 20px auto;

	.header {
		padding: 0 16px;
		height: 40px;
		line-height: 40px;
		border-bottom: 1px solid #eceff2;
		background: url('/images/index/index-liebiao.png') 10px center no-repeat;
		background-size: 18px;
		padding-top: 2px;
		font-size: 14px;
		text-indent: 18px;
	}
}

.card {
	display: flex;
	padding: 30px 16px;
	border-bottom: 1px solid #eceff2;
	&:last-child {
		border-bottom: none;
	}

	.card-img {
		display: block;
		flex-grow: 0;
		width: 65px;
		height: 65px;
		margin-right: 16px;
		img { width: 100%; height: 100%; }
	}

	.card-info {
		flex: 1;
		font-size: 14px;
		line-height: 1;
		.card-title a {
			color: #333;
			line-height: 14px;
		}
		.desc {
			margin-top: 8px;
			color: #5b5b5b;
			line-height: 1.8;
			font-size: 13px;
		}
		.time {
			font-size: 12px;
			font-family: proxima;
			color: #ccc;
			line-height: 2;
			margin-top: 6px;
		}
	}
}
footer {
	width: 90%;
	margin: 0 auto;
    height: 50px;
    border-top: 1px solid #eceff2;
    text-align: center;
    line-height: 50px;
    font-family: proxima;
    font-size: 12px;
    color: #ccc;
	margin-bottom: 50px;
}

@include screen_w768 {
	.wrapper {
		display: block;
		overflow: visible;
		width: 100%;
		padding: 0 16px;
	}

	aside {
		width: 100%;
		height: auto;
		.aside-wrap {
			background-color: transparent;
		}
		.avtor {
			box-shadow: 0 1px 3px #dfe7eb;
		}
		.title, .desc { display: none; }
	}

	.content-wrap {
		margin-top: 10px;
		height: auto;
		overflow-y: visible;
	}
	hgroup {
		width: 100%;
		margin: 0;
	}
};
