$fonts: "Helvetica Neue", Helvetica, Arial, sans-serif;

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    font-family: $fonts;
    width: 100%;
    background-color: #171717;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #DDDDDD;
    user-select: none;
}

a, div, span {
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.wrap {
    width: 100%;
    display: block;
    min-width: 320px;
    max-width: 500px;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
    /* background-color: #312f3a; */
}

.clearfix {
    content: '\200c';
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
}
.clear {
    zoom: 1;
    &:after {
        @extend .clearfix;
    }
}

.part-1 {
    width: 100%;
    background-color: #1F1E1E;

    .mmmth {
        height: 40px;
        line-height: 40px;
        padding: 0 13px 0 16px;
        box-sizing: border-box;
        font-size: 18px;
    }
    .curMonth {
        height: 40px;
        line-height: 40px;
        float: left;
    }
    .chooseType {
        height: 40px;
        line-height: 40px;
        float: right;
    }
    #weekbtn {
        cursor: pointer;
        &.active {
            color: #f8cc00;
        }
    }
    #monthbtn {
        cursor: pointer;
        margin-left: 10px;
        &.active {
            color: #f8cc00;
        }
    }
    .weekCalendar {
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;

        .weekday {
            width: 100%;
            background-color: #333333;
            height: 30px;
            line-height: 30px;
            box-sizing: border-box;
            // padding: 0 15px;
            .weekday-item {
                float: left;
                font-size: 14px;
                width: 14.2857%;
                text-align: center;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

#weekdate, #monthdate {
    transform: translateX(0);
}

// 周日历
.weekdate {
    overflow: hidden;
    width: 300%;
    position: relative;
    height: 50px;
    // display: none;

    .weekdate-item {
        height: 100%;
        box-sizing: border-box;
        width: 33.33%;
        // padding: 0 15px;
        float: left;


        .weekdate-number {
            height: 100%;
            float: left;
            width: 14.2857%;
            text-align: center;
            position: relative;
            // margin: 0 6%;
            box-sizing: border-box;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            span {
                display: block;
                width: 100%;
                height: 100%;
                line-height: 45px;
                text-align: center;
                font-size: 14px;
                cursor: pointer;
                transition-duration: 0.2s;

                &.active {
                    background-color: #333333;
                }
            }

            .dot {
                position: absolute;
                left: 0;
                bottom: 8px;
                width: 100%;
                height: 4px;
                display: flex;
                justify-content: center;
                span {
                    width: 4px;
                    height: 4px;
                    border-radius: 100%;
                    background-color: #ccc;
                    margin: 0 2px;
                    display: none;
                    &.active {
                        display: block;
                    }
                }
                .red {
                    background-color: #F20642;
                }
                .yellow {
                    background-color: #F8CC00;
                }
                .gray {
                    background-color: #cccccc;
                }
            }
        }
    }
}

// 月日历
.monthdate {
    width: 300%;
    overflow: hidden;
    display: none;

    .monthdate-item {
        width: 100%;
        float: left;

        .row {
            height: 50px;
            border-bottom: 1px solid #333333;
            // padding: 0 15px;
            width: 100%;
            box-sizing: border-box;

            .monthdate-number {
                float: left;
                height: 100%;
                width: 14.2857%;
                position: relative;
                text-align: center;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }

                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    line-height: 45px;
                    font-size: 14px;
                    cursor: pointer;
                    &.active {
                        background-color: #333333;
                    }
                    &.xxx {
                        color: #666666;
                    }
                }
                .dot {
                    position: absolute;
                    left: 0;
                    bottom: 8px;
                    width: 100%;
                    height: 4px;
                    display: flex;
                    justify-content: center;
                    span {
                        width: 4px;
                        height: 4px;
                        border-radius: 100%;
                        background-color: #ccc;
                        margin: 0 2px;
                        display: none;
                        &.active {
                            display: block;
                        }
                    }
                    .red {
                        background-color: #F20642;
                    }
                    .yellow {
                        background-color: #F8CC00;
                    }
                    .gray {
                        background-color: #cccccc;
                    }
                }
            }
        }
    }
}

.part-2 {
    background-color: #171717;
    width: 100%;
    box-sizing: border-box;
    color: #fff;

    .main {
        box-sizing: border-box;
        padding: 0 16px;
    }

    .banner {
        height: 50px;
        border-bottom: 1px solid #333;

        .banner-item {
            float: left;
            line-height: 50px;
            width: 25%;
            text-align: center;
            font-size: 16px;

            span {
                display: block;
                width: 40%;
                margin: 0 auto;
                cursor: pointer;
            }

            &.active {
                span {
                    color: #f8cc00;
                    border-bottom: 1px solid #f8cc00;
                };
            }
        }
    }
}

.list {
    padding-bottom: 30px;
    section.item {
        padding-left: 32px;
        padding-top: 30px;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 0;
            height: 100%;
            position: absolute;
            border-left: 1px solid #F8CC00;
            left: 10px;
            top: 0px;
        }
    }
    .inner-section {
        position: relative;
    }
    .red::before {
        content: '';
        display: block;
        width: 11px;
        height: 11px;
        position: absolute;
        border-radius: 100%;
        left: -27px;
        top: 7px;
        background-color: #F20642;
    }
    .yellow::before {
        content: '';
        display: block;
        width: 11px;
        height: 11px;
        position: absolute;
        border-radius: 100%;
        left: -27px;
        top: 7px;
        background-color: #F8CC00;
    }
    .gray::before {
        content: '';
        display: block;
        width: 11px;
        height: 11px;
        position: absolute;
        border-radius: 100%;
        left: -27px;
        top: 7px;
        background-color: #9999A3;
    }
    .title {
        color: #DDDDDD;
    }
    .cItem {
        color: #9999A3;
    }
    .show-all {
        color: #F8CC00;
        margin-left: 4px;
    }

    .nodata {
        line-height: 60px;
        text-align: center;
    }

    .loading {
        width: 30px;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 30px;
        border-bottom-color: transparent;
        margin: 20px auto;
        animation: rotate 0.75s 0s linear infinite;
    }

    .reload {
        line-height: 60px;
        text-align: center;

        .reloading {
            color: orange;
        };
    }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1); }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1); } }
