@charset 'UTF-8';

@font-face {
    font-family:iconfont;src:url(//at.alicdn.com/t/font_1476272598_007398.eot);src:url(//at.alicdn.com/t/font_1476272598_007398.eot?#iefix) format('embedded-opentype'),url(//at.alicdn.com/t/font_1476272598_007398.woff) format('woff'),url(//at.alicdn.com/t/font_1476272598_007398.ttf) format('truetype'),url(//at.alicdn.com/t/font_1476272598_007398.svg#iconfont) format('svg');
}

a,img {
    -webkit-touch-callout: none;
}

* {
    -webkit-text-size-adjust: none;
}

a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background-color: #fff;
    -webkit-text-size-adjust: 100%!important;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
}

input {
    outline: 0;
}

li,ol,ul {
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.clear:after,.clearfix {
    font-size: 0;
    display: block;
    clear: both;
    height: 0;
    content: '';
}

.clear {
    zoom: 1;
}

.aninode {
    visibility: hidden;
}

.animated .aninode,.animated.aninode {
    visibility: visible;
}

header {
    width: 100%;
    min-width: 1200px;
    height: 75px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.05);
    box-shadow: 0 0 3px rgba(0,0,0,.05);
}

header .main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

header .logo {
    display: block;
    width: 40px;
    height: 40px;
}

header .logo img {
    width: 100%;
}

header .show-position {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    margin-left: 30px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

header .show-position a {
    font-family: iconfont;
    font-size: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 20px;
    height: 20px;
    margin-left: 50px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    color: #727272;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .show-position a:hover {
    color: #84a6d3;
}

@media (max-width:780px) {
    header {
        min-width: auto;
    }

    header .main {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 0 16px;
    }
}

@media (max-width:580px) {
    header {
        height: 50px;
    }
}

body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #f7f8fb;
}

.container {
    margin-top: 25px;
}

.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content {
    width: 740px;
    background-color: #f7f8fb;
}

.content .essay {
    width: 100%;
    margin-bottom: 50px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.content .essay:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.05);
    box-shadow: 0 5px 20px rgba(0,0,0,.05);
}

.content .tags {
    font-size: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    padding-left: 60px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content .tags span {
    line-height: 20px;
    position: relative;
    display: block;
    height: 20px;
    margin-right: 15px;
    padding: 0 15px 0 20px;
    color: #fff;
    border-radius: 10px;
    background-color: #38b7ea;
}

.content .tags span.javascript {
    background-color: #897fe6;
}

.content .tags span.es6 {
    background-color: #ea909b;
}

.content .tags span.angular {
    background-color: #8be594;
}

.content .tags span.css {
    background-color: #e5c68b;
}

.content .tags span:before {
    position: absolute;
    top: 9px;
    left: 10px;
    display: block;
    width: 3px;
    height: 3px;
    content: '';
    border-radius: 100%;
    background-color: #fff;
}

.content .special {
    font-size: 12px;
    line-height: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 60px;
    background-color: #fff;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content .description {
    color: #7f8489;
}

.content .star {
    font-family: iconfont;
    font-size: 14px;
    color: #cacdcf;
}

.content .star.active {
    color: #8a92db;
}

.content .article {
    width: 400px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f7f8fb;
}

.content .title-box {
    margin-bottom: 10px;
}

.content .title {
    font-size: 14px;
}

.content .img-box {
    position: relative;
    width: 180px;
}

.content .img-box img {
    width: 100%;
}

.content .more {
    font-size: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    padding-left: 60px;
    background-color: #fff;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content .more a {
    color: #7f8489;
}

.content .icon {
    font-family: iconfont;
    margin-right: 84px;
    cursor: pointer;
    color: #7f8489;
}

.content .icon span {
    padding-right: 4px;
}

.content .read-more {
    line-height: 40px;
    height: 40px;
    cursor: pointer;
    color: #333;
}

.content .share-count span:nth-of-type(1) {
    font-size: 14px;
}

aside {
    width: 400px;
    padding-top: 50px;
}

aside .main {
    display: block;
    width: 100%;
}

aside .tag-important {
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 50px;
    padding: 25px 40px 0 40px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    color: #7f8489;
    background-color: #fff;
}

aside .tag-important:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.05);
    box-shadow: 0 5px 20px rgba(0,0,0,.05);
}

aside .title-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
}

aside .title-box img {
    width: 80px;
    height: 80px;
    margin-right: 25px;
}

aside .title-box .nickname {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

aside .title-box .title {
    font-size: 12px;
    line-height: 2;
    overflow: hidden;
    width: 220px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

aside .title-box .time {
    font-size: 10px;
    margin-top: 6px;
}

aside .message {
    line-height: 2;
    margin-top: 20px;
}

aside .more {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

aside .more .icon {
    font-family: iconfont;
    margin-left: 35px;
    cursor: pointer;
}

aside .more .icon a {
    color: #7f8489;
}

aside .more .icon span:nth-of-type(1) {
    margin-right: 15px;
}

aside .more .icon span:nth-of-type(2) {
    font-size: 10px;
}

@media (max-width:780px) {
    .main {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
}

@media (max-width:780px) {
    .content {
        width: 100%;
    }

    .content .essay {
        margin-bottom: 20px;
    }

    .content .tags {
        padding-left: 16px;
    }

    .content .special {
        padding-left: 16px;
    }

    .content .article {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .content .img-box {
        margin-left: 50px;
    }

    .content .more {
        padding-left: 16px;
    }
}

@media (max-width:780px) {
    aside {
        display: none;
    }
}

@media (max-width:580px) {
    .content .img-box {
        display: none;
    }

    .content .more {
        height: 70px;
    }

    .content .icon {
        margin-right: auto;
    }
}