@import "../_lib/_reset";

.site-header {
	height: 80px;
	background-color: #fff;
	border-bottom: #eceff2;
	box-shadow: 0 1px 3px #dfe7eb; 
}
.header-left {
	float: left;
	height: 80px;

	.header-logo {
		float: left;
		width: 80px;
		height: 80px;
		border-right: 1px solid #eceff2;
		box-sizing: border-box;
		padding: 20px;

		a {
			display: block;
			width: 40px;
			height: 40px;

			img { width: 100%; }
		}
	}

	.header-nav {
		float: left;
		height: 80px;
		margin: 0;
		margin-left: 20px;

		.item {
			float: left;
			height: 80px;
			line-height: 80px;
			margin: 0 25px;
			a { color: #2b2f32; }

			&.active {
				a { color: #2b90dd; }
			}
		}
	}
}

.header-right {
	float: right;
	height: 80px;
	border-left: 1px solid #eceff2;
	padding: 0 10px;

	.contact {
		float: left;
		width: 30px;
		height: 30px;
		margin: 25px 10px;
		box-sizing: border-box;
	}
	.jianshu, .segment {
		border-radius: 4px;
		a {
			display: block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			color: #2b2f32;
		}
	}
	.github {
		border-radius: 4px;
		a {
			display: block;
			width: 30px;
			height: 30px;
			background: url('../images/icon-github-3.png') no-repeat;
			background-size: contain;
		}
	}
}












