.post {
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px;
	.wrapper {
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
	}
}

.post-header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	p {
		color: #aaa;
		font-size: 13px;
		margin-top: -15px;
	}
}

#position-wrap {
	width: 200px;
	position: absolute;
	&.nav-fixed {
		position: fixed;
		top: 78px;
	}
}

.post-side { 
	width: 200px;
	padding-right: 20px;
	float: left;
	position: relative;
	margin: 20px;
	margin-top: 0;
	a:hover {
		color: #ccc;
	}

	#nav-list {
		li {
			height: 40px;
			border-bottom: 1px solid #ccc;
			line-height: 40px;
			text-indent: 20px;

			&.active {
				a {color: red;}
			}
		}
	}
}


.post-content {
	overflow: hidden;
	font-size: 14px;
	p { margin: 20px 0; }
	blockquote {
		color: grey;
		border-left: 4px solid grey;
		padding-left: 10px;
		font-size: 14px;
		margin: 20px 0;
	}
	a {
		color: #4078c0;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	code {
		padding: 1px 5px;
		background-color: #f7f7f7;
		border-radius: 2px;
		font-size: 13px;
		margin: 0 2px;
	}
	pre  {
		padding: 8px 12px;
		margin: 20px 0;
		overflow-x: auto;
		background-color: #f7f7f7;
		line-height: 1.3;
		border-radius: 2px;
		font-family: 'Source Code Pro Black';
		// font-family: $fonts;
		code {
			padding: 0;
			border: 0;
			background: none;
		}
	}
	img {
		max-width: 90%;
		display: block;
		margin: 0 auto;
		box-shadow: 0px 0px 8px #ccc;
	}
}
