.post {
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px;
	.wrapper {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}
}

.post-header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	p {
		color: #aaa;
		font-size: 13px;
		margin-top: -15px;
	}
}

.post-content {
	overflow: hidden;
	font-size: 14px;
	p { margin: 10px 0; line-height: 1.6 }
	blockquote {
		color: grey;
		border-left: 4px solid grey;
		padding-left: 10px;
		font-size: 14px;
		margin: 20px 0;
	}
	a {
		color: #4078c0;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	code {
		padding: 1px 5px;
		border-radius: 2px;
		font-size: 13px;
		margin: 0 2px;
		font-family: Source Code Pro;
	}
	pre  {
		padding: 8px 12px;
		border: 1px solid #e5e5e5;
		margin: 10px 0;
		overflow-x: auto;
		line-height: 1.3;
		border-radius: 2px;
		code {
			padding: 0;
			border: 0;
			background: none;
			font-family: 'Source Code Pro';
		}
	}
	img {
		max-width: 90%;
		display: block;
		margin: 0 auto;
		box-shadow: 0px 0px 8px #ccc;
	}
}

.middle {
	border: 1px solid #e5e5e5;
	margin: 20px auto;
	box-sizing: border-box;
	padding: 20px;
	overflow: hidden;
	background-color: #fff;
}

.left {
	width: 250px;
	float: left;
	border: 1px solid #e5e5e5;
	margin-right: 10px;
	max-height: 100%;
	overflow-y: auto;
	background-color: #fff;

	.left-part {
		padding-left: 10px;
		height: 50px;
		line-height: 50px;
	}

	.post-item {
		display: block;
		width: 100%;
		overflow: hidden;
		padding: 10px;
		border-top: 1px solid #e5e5e5;

		&:hover {
			
		}

		.post-img {
			float: left;
			width: 50px;
			height: 50px;
			overflow: hidden;
			margin-right: 10px;
			img { max-width: 100%; min-height: 100% }
		}
		.post-title {
			font-size: 14px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			color: #666;
		}	
		.post-tags {
			font-size: 10px;
			overflow: hidden;
			text-align: left;

			span {
				font-family: Source Code Pro;
				padding: 2px 4px;
				background-color: #eee;
				border-radius: 20px;
			}
		}	
	}
}
.right {
	float: right;
	width: 200px;
	border: 1px solid #ccc;
	height: 100%;
	margin-left: 10px;

}
