@font-face {
	font-family: 'proxima';
	src: url(//:) format("no404");
	src: url('font/Proxima Nova/ProximaNova-Reg.otf');
}

@font-face {
	font-family: 'proxima-light';
	src: url(//:) format("no404");
	src: url("font/Proxima Nova/ProximaNova-Light.otf");
}

@font-face {
	font-family: 'proxima-bold';
	src: url(//:) format('no404');
	src: url('font/Proxima Nova/ProximaNova-Bold.otf');
}