@import "../_libs/reset";
@import "../_libs/proxima";

@mixin screen_w768 {
	@media (max-width: 768px) {
		@content;
	}
}
@mixin screen_dw768 {
	@media (min-width: 768px) {
		@content;
	}
}

header {
	height: 50px;
	background-color: #fff;
	border-bottom: #eceff2;
	box-shadow: 0 1px 3px #dfe7eb;
	font-size: 14px;
	position: relative;
}

// pc上显示时，header的样式
.header-in-pc {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* display: none; */

	.item {
		a {
			color: #3d4347;
			transition: .2s;
			&:hover {
				color: #38b7ea;
			}
		}

		&.active {
			a {
				color: #38b7ea;
			}
		}
	}
	.logo {
		display: block;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		overflow: hidden;
		animation: logoInto 10s linear infinite;
		img {
			width: 100%;
		}
	}
	.github {
		display: block;
		width: 20px;
		height: 20px;
		background: url('../images/icon-github-3.png') no-repeat;
		background-size: contain;
	}
}

// mobile 上显示时，header的样式
.header-in-mobile {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	display: none;
	justify-content: space-between;

	#logo {
		position: absolute;
		top: 15px;
		left: 15px;
		width: 20px;
		height: 20px;
		display: block;
		width: 20px;
		height: 20px;
		img {
			width: 100%;
		}
	}

	#tips {
		position: absolute;
		top: 19px;
		right: 15px;
		width: 20px;
		height: 13px;
		cursor: pointer;

		.line1 {
			animation: line1 .3s, aline1 .3s .3s forwards;
		}
		.line2 {
			animation: line2 .3s forwards;
			opacity: 0;
		}
		.line3 {
			animation: line3 .3s, aline3 .3s .3s forwards;
		}

		.d-line1 {
			animation: d-aline1 .3s, d-line1 .3s .3s forwards;
		}
		.d-line2 {
			animation: d-line2 0.6s forwards;
		}
		.d-line3 {
			animation: d-aline3 .3s, d-line3 .3s .3s forwards;
		}
	}

	#tips > div {
		width: 17px;
		height: 1px;
		background-color: #38b7ea;
		position: absolute;
		left: 0;
		transition: .3s;

		&:nth-of-type(1) {
			top: 0;
		}
		&:nth-of-type(2) {
			top: 6px;
		}
		&:nth-of-type(3) {
			top: 12px;
		}
	}
}
#nav-in-mobile {
	position: absolute;
	width: 100px;
	top: 50px;
	right: 5px;
	background-color: #38b7ea;
	box-shadow: 0 1px 3px #dfe7eb;
	display: none;
	opacity: 0;

	&.active {
		animation: showList .6s forwards;
		display: block;
	}
	&.active2 {
		animation: hideList .6s forwards;
	}

	.item {
		a {
			display: block;
			line-height: 34px;
			color: #fff;
			transition: .2s;
			text-align: center;
			&:hover {
				background-color: #fff;
				color: #38b7ea;
			}
		}
	}

	.san {
		position: absolute;
		border: 10px solid #38b7ea;
		top: -20px;
		right: 12px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid transparent;
	}
}

@keyframes logoInto {
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }

}

// 展开按钮动画
@keyframes line1 {
	0% { top: 0 }
	100% { top: 6px; }
}
@keyframes line2 {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes line3 {
	0% { top: 12px; }
	100% { top: 6px; }
}
@keyframes aline1 {
	0% { top: 6px; transform: rotate(0); }
	100% { top: 6px; transform: rotate(45deg); }
}
@keyframes aline3 {
	0% { top: 6px; transform: rotate(0); }
	100% { top: 6px; transform: rotate(-45deg); }
}

@keyframes d-line1 {
	0% { top: 6px; }
	100% { top: 0 }
}
@keyframes d-line2 {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes d-line3 {
	0% { top: 6px; }
	100% { top: 12px; }
}
@keyframes d-aline1 {
	0% { top: 6px; transform: rotate(45deg); }
	100% { top: 6px; transform: rotate(0); }
}
@keyframes d-aline3 {
	0% { top: 6px; transform: rotate(-45deg); }
	100% { top: 6px; transform: rotate(0); }
}

// 列表展开动画
@keyframes showList {
	0% {
		opacity: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		height: 306px;
	}
}
@keyframes hideList {
	0% {
		opacity: 1;
		height: 306px;
	}
	100% {
		opacity: 0;
		height: 0;
	}
}


@include screen_w768 {
	.header-in-pc {
		display: none;
	}
	.header-in-mobile {
		display: flex;
	}
};
