@import "../_libs/reset";
@import "../_libs/proxima";
@import "../_libs/_siyuanHT-reg";

header {
	height: 70px;
	color: #fff;
	font-size: 14px;

	.main {
		width: 100%;
		max-width: 1020px;
		height: 100%;
		margin: 0 auto;
		position: relative;
	}

	.nav-l {
		height: 100%;

		a {
			display: inline-block;
			padding: 0 15px;
			color: #fff;
			height: 100%;
			line-height: 70px;
			transition-duration: 0.3s;
			&:hover {
				background-color: rgba(255, 255, 255, 0.2);
			}
		}
		.index {
			i {
				display: inline-block;
				width: 24px;
				height: 24px;
				background: url('/static/images/index/logo.png') no-repeat;
				background-size: 24px;
				position: relative;
				margin-right: 10px;
				left: 0;
				top: 11px;
			}
		}
	}

	.nav-r {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		a {
			display: inline-block;
			width: 48px;
			height: 100%;
			transition-duration: 0.3s;
			&:hover {
				background-color: rgba(255, 255, 255, 0.2);
			}
			i {
				display: block;
				width: 24px;
				height: 24px;
				margin: 23px auto;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}
	.github {
		background-image: url('/static/images/index/github.png');
	}
	.segmentfault {
		background-image: url('/static/images/index/s.png');
	}
	.wechart {
		background-image: url('/static/images/index/weixin.png');
	}

	.nav-phone { display: none; }

	@include screen_small {
		.nav-l {
			display: none;
		}
		.nav-r {
			display: none;
		}
		.nav-phone {
			display: block;
		}
		.nav-l-small {
			display: none;
		}
	}
	.nav-phone {
		height: 70px;
		width: 100%;
		position: fixed;

	}
	.icon {
		position: absolute;
		color: #fff;
		width: 50px;
		height: 50px;
		border: 1px solid #fff;
		top: 10px;
		left: 16px;
	}
};
