---
layout: default
---

<div class="index-content">
	<div class="wrapper">
		<div class="top-container clearfix">
			<div class="details">
				<h2 class="section-title">HTML5</h2>
				<p class="section-meta">HTML5 是 HTML 下一个的主要修订版本，现在仍处于发展阶段。广义论及 HTML5 时，实际指的是包括 HTML、CSS 和 JavaScript 在内的一套技术组合。</p>
			</div>
		</div>

		<div class="cards clearfix">
			<!-- 文章列表 -->
			{% for post in site.tags.html5 %}
				<div class="card">
					<a href="{{ post.url | prepend: site.baseurl }}"><div class="card-img"></div></a>
					<div class="card-info">
						<a href="{{ post.url | prepend: site.baseurl }}"><div class="card-title">{{ post.title }}</div></a>
						<div class="in">
							<div class="tags">
								{% for tag in post.tags %}
									<span class="{{ tag }}"></span>
								{% endfor %}
							</div>
							<div class="time">{{ post.date | date: "%b %-d, %Y" }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
