@charset 'UTF-8';

@font-face {
    font-family:iconfont;src:url(//at.alicdn.com/t/font_1476272598_007398.eot);src:url(//at.alicdn.com/t/font_1476272598_007398.eot?#iefix) format('embedded-opentype'),url(//at.alicdn.com/t/font_1476272598_007398.woff) format('woff'),url(//at.alicdn.com/t/font_1476272598_007398.ttf) format('truetype'),url(//at.alicdn.com/t/font_1476272598_007398.svg#iconfont) format('svg');
}

a,img {
    -webkit-touch-callout: none;
}

* {
    -webkit-text-size-adjust: none;
}

a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background-color: #fff;
    -webkit-text-size-adjust: 100%!important;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
}

input {
    outline: 0;
}

li,ol,ul {
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.clear:after,.clearfix {
    font-size: 0;
    display: block;
    clear: both;
    height: 0;
    content: '';
}

.clear {
    zoom: 1;
}

.aninode {
    visibility: hidden;
}

.animated .aninode,.animated.aninode {
    visibility: visible;
}

header {
    height: 75px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.05);
    box-shadow: 0 0 3px rgba(0,0,0,.05);
}

header .main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

header .logo {
    display: block;
    width: 40px;
    height: 40px;
}

header .logo img {
    width: 100%;
}

header .show-position {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    margin-left: 30px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

header .show-position a {
    font-family: iconfont;
    font-size: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 20px;
    height: 20px;
    margin-left: 50px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    color: #727272;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .show-position a:hover {
    color: #84a6d3;
}

@media (max-width:780px) {
    header .main {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 16px;
    }
}

@media (max-width:580px) {
    header {
        height: 50px;
    }
}

.highlight {
    padding: 10px;
    background: #eff1f6;
}

.highlight pre {
    line-height: 1.6;
    overflow-x: auto;
    padding: 0 16px;
}

.highlight code {
    font-family: SourceCodeProRegular;
}

.highlighter-rouge .highlight {
    background: #eef;
}

.highlight .c {
    font-size: 12px;
    color: #998;
}

.highlight .err {
    color: #a61717;
}

.highlight .k {
    font-weight: 700;
}

.highlight .o {
    font-weight: 700;
}

.highlight .cm {
    font-style: italic;
    color: #998;
}

.highlight .cp {
    font-weight: 700;
    color: #999;
}

.highlight .c1 {
    font-size: 12px;
    color: #998;
}

.highlight .cs {
    font-weight: 700;
    font-style: italic;
    color: #999;
}

.highlight .gd {
    color: #000;
    background-color: #fdd;
}

.highlight .gd .x {
    color: #000;
    background-color: #faa;
}

.highlight .ge {
    font-style: italic;
}

.highlight .gr {
    color: #a00;
}

.highlight .gh {
    color: #999;
}

.highlight .gi {
    color: #000;
    background-color: #dfd;
}

.highlight .gi .x {
    color: #000;
    background-color: #afa;
}

.highlight .go {
    color: #888;
}

.highlight .gp {
    color: #555;
}

.highlight .gs {
    font-weight: 700;
}

.highlight .gu {
    color: #aaa;
}

.highlight .gt {
    color: #a00;
}

.highlight .kc {
    font-weight: 700;
}

.highlight .kd {
    font-weight: 700;
}

.highlight .kp {
    font-weight: 700;
}

.highlight .kr {
    font-weight: 700;
}

.highlight .kt {
    font-weight: 700;
    color: #458;
}

.highlight .m {
    color: #099;
}

.highlight .s {
    color: #d14;
}

.highlight .na {
    color: teal;
}

.highlight .nb {
    color: #0086b3;
}

.highlight .nc {
    font-weight: 700;
    color: #458;
}

.highlight .no {
    color: teal;
}

.highlight .ni {
    color: purple;
}

.highlight .ne {
    font-weight: 700;
    color: #900;
}

.highlight .nf {
    font-weight: 700;
    color: #900;
}

.highlight .nn {
    color: #555;
}

.highlight .nt {
    font-weight: 700;
    color: #fe5d3c;
}

.highlight .nv {
    color: teal;
}

.highlight .ow {
    font-weight: 700;
}

.highlight .w {
    color: #bbb;
}

.highlight .mf {
    color: #099;
}

.highlight .mh {
    color: #099;
}

.highlight .mi {
    color: #099;
}

.highlight .mo {
    color: #099;
}

.highlight .sb {
    color: #d14;
}

.highlight .sc {
    color: #d14;
}

.highlight .sd {
    color: #d14;
}

.highlight .s2 {
    color: #d14;
}

.highlight .se {
    color: #d14;
}

.highlight .sh {
    color: #d14;
}

.highlight .si {
    color: #d14;
}

.highlight .sx {
    color: #d14;
}

.highlight .sr {
    color: #009926;
}

.highlight .s1 {
    color: #fe5d3c;
}

.highlight .ss {
    color: #990073;
}

.highlight .bp {
    color: #999;
}

.highlight .vc {
    color: teal;
}

.highlight .vg {
    color: teal;
}

.highlight .vi {
    color: teal;
}

.highlight .il {
    color: #099;
}

@font-face {
    font-family:SourceCodeProRegular;src:url(/static/fonts/sourceCodePro/SourceCodeProRegular.eot);src:url(/static/fonts/sourceCodePro/SourceCodeProRegular.eot) format('embedded-opentype'),url(/static/fonts/sourceCodePro/SourceCodeProRegular.woff2) format('woff2'),url(/static/fonts/sourceCodePro/SourceCodeProRegular.woff) format('woff'),url(/static/fonts/sourceCodePro/SourceCodeProRegular.ttf) format('truetype'),url(/static/fonts/sourceCodePro/SourceCodeProRegular.svg#SourceCodeProRegular) format('svg');
}

.comments {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 30px auto;
    padding-bottom: 30px;
}

.comments .ds-powered-by {
    display: none;
}

.comments #ds-thread #ds-reset li.ds-post {
    border-top: 1px solid #f2f4f9;
}

.comments #ds-thread #ds-reset .ds-comments,.comments #ds-thread #ds-reset .ds-paginator {
    margin-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

.comments #ds-thread #ds-reset .ds-comment-actions a.ds-post-repost {
    display: none;
}

body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #f7f8fb;
}

.container {
    margin-top: 40px;
}

.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.a-content {
    font-size: 14px;
    line-height: 2;
    -webkit-box-sizing: broder-box;
    -moz-box-sizing: broder-box;
    box-sizing: broder-box;
    width: 740px;
    color: #747783;
}

.a-content .tags {
    font-size: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    padding-left: 60px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.a-content .tags span {
    line-height: 20px;
    position: relative;
    display: block;
    height: 20px;
    margin-right: 15px;
    padding: 0 15px 0 20px;
    color: #fff;
    border-radius: 10px;
    background-color: #38b7ea;
}

.a-content .tags span.javascript {
    background-color: #897fe6;
}

.a-content .tags span.es6 {
    background-color: #ea909b;
}

.a-content .tags span.angular {
    background-color: #8be594;
}

.a-content .tags span.css {
    background-color: #e5c68b;
}

.a-content .tags span:before {
    position: absolute;
    top: 9px;
    left: 10px;
    display: block;
    width: 3px;
    height: 3px;
    content: '';
    border-radius: 100%;
    background-color: #fff;
}

.a-content .star {
    font-family: iconfont;
    font-size: 14px;
    color: #cacdcf;
}

.a-content .star.active {
    color: #8a92db;
}

.a-content .wrapper {
    padding: 0 60px;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #fff;
}

.a-content .title {
    font-size: 18px;
    color: #4c4c4d;
}

.a-content .content {
    margin-top: 30px;
}

.a-content .content p {
    margin: 20px 0;
}

.a-content .content blockquote {
    font-size: 12px;
    margin: 20px 0;
    padding: 4px 30px;
    color: #a0a2a9;
    border-left: 6px solid #eff1f6;
    background-color: #f5f7fc;
}

.a-content .content .highlight {
    font-size: 12px;
    margin: 20px 0;
}

.a-content .content blockquote code,.a-content .content h1 code,.a-content .content h2 code,.a-content .content h3 code,.a-content .content h4 code,.a-content .content h5 code,.a-content .content h6 code,.a-content .content p code {
    font-size: 12px;
    margin: 0 4px;
    padding: 3px 10px;
    color: #5c5f68;
    border-radius: 2px;
    background-color: #eff1f6;
}

.a-content .content h1 {
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0 20px;
    color: #fe5d3c;
}

.a-content .content h2,.a-content .content h3,.a-content .content h4,.a-content .content h5,.a-content .content h6 {
    font-size: 14px;
    font-weight: 400;
    margin: 40px 0 20px;
    color: #484848;
}

.a-content section.comments {
    margin-bottom: 0;
    padding: 30px 60px;
    background-color: #fff;
}

aside {
    width: 400px;
    padding-top: 50px;
}

aside .main {
    display: block;
    width: 100%;
}

aside .tag-important {
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 50px;
    padding: 25px 40px 0 40px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    color: #7f8489;
    background-color: #fff;
}

aside .tag-important:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.05);
    box-shadow: 0 5px 20px rgba(0,0,0,.05);
}

aside .title-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
}

aside .title-box img {
    width: 80px;
    height: 80px;
    margin-right: 25px;
}

aside .title-box .nickname {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

aside .title-box .title {
    font-size: 12px;
    line-height: 2;
    overflow: hidden;
    width: 220px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

aside .title-box .time {
    font-size: 10px;
    margin-top: 6px;
}

aside .message {
    line-height: 2;
    margin-top: 20px;
}

aside .more {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

aside .more .icon {
    font-family: iconfont;
    margin-left: 35px;
    cursor: pointer;
}

aside .more .icon a {
    color: #7f8489;
}

aside .more .icon span:nth-of-type(1) {
    margin-right: 15px;
}

aside .more .icon span:nth-of-type(2) {
    font-size: 10px;
}

@media (max-width:780px) {
    .container {
        margin-top: 20px;
    }
}

@media (max-width:780px) {
    .main {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
}

@media (max-width:780px) {
    .a-content {
        width: 100%;
    }
}

.a-content .tags {
    padding-left: 16px;
}

.a-content .wrapper {
    padding: 30px 16px;
}

.a-content section.comments {
    padding: 30px 16px;
}

@media (max-width:780px) {
    aside {
        display: none;
    }
}

@media (max-width:580px) {
    .a-content .content blockquote {
        padding: 4px 16px;
    }

    .a-content .content .highlight {
        margin: 0;
        padding: 10px 0;
    }
}