<footer class="site-footer">
	<div class="wrap clearfix">
		<div class="most-link">
			<h2 class="title">Most Link</h2>
			<p><a href="https://docs.mongodb.org/manual/?_ga=1.79686740.1566156814.1448337593">Mongdb Documents</a><span>mongodb学习文档</span></p>
			<p><a href="https://github.com/yangbo5207/yangbo5207.github.io">View me on GITHUB</a><span>我的博客在github的仓库</span></p>
			<p><a href="http://segmentfault.com/">segmentdefault</a><span>程序员中文问答平台</span></p>
			<p><a href="https://dribbble.com/">dribbble</a><span>高级设计师聚集之地</span></p>
			<p><a href="http://www.uehtml.com/">UEhtml</a><span>我最喜欢的国内UI网站</span></p>
		</div>

		<div class="profile">
			<p class="title">Connect me</p>
			<p><span></span><a href="https://github.com/yangbo5207">Github</a></p>
			<p><span></span><a href="http://www.jianshu.com/users/10ae59f49b13/latest_articles">jianshu</a></p>
			<p><span></span><a href="http://weibo.com/2349329522/profile?rightmod=1&wvr=6&mod=personinfo">weibo</a></p>
			<p><span></span><a href="http://segmentfault.com/u/yangbo">Segmentdefault</a></p>
		</div>
	</div>
</footer>
