<header class="site-header clear">
	<div class="header-left clear">
		<div class="header-logo">
			<a href="/" class="logo">
				<img src="{{ "/images/logo.png" | prepend: site.baseurl }}">
			</a>
		</div>
		<ul class="header-nav clear">
			<li class="item active"><a href="/">All</a></li>
			<li class="item"><a href="/html/javascript/">Javascript</a></li>
			<li class="item"><a href="/html/node/">Node</a></li>
			<li class="item"><a href="/html/jquery/">JQuery</a></li>
			<li class="item"><a href="/html/html5/">Html5</a></li>
			<li class="item"><a href="/html/css3/">Css3</a></li>
			<li class="item"><a href="/html/gulp/">Gulp</a></li>
			<li class="item"><a href="/html/git/">Git</a></li>
			<!-- 当上面列表不够用时，启动more按钮，显示更多 -->
			<!-- <li class="item">
				<a>More</a>
				<ul class="more-nav">
					<li class="item"><a href="/html/git/">Git</a></li>
				</ul>
			</li> -->
		</ul>
	</div>
	<div class="header-right">
		<div class="contact jianshu"><a href="http://www.jianshu.com/users/10ae59f49b13/latest_articles">简</a></div>
		<div class="contact segment"><a href="http://segmentfault.com/u/yangbo">S</a></div>
		<div class="contact github"><a href="https://github.com/yangbo5207"></a></div>
	</div>
</header>

