<header class="site-header">
	<div class="header-left">
		<a class="header-logo" href="/" class="logo"><img src="{{ "/images/icon-logo-0.png" | prepend: site.baseurl }}"></a>
		<ul class="header-nav">
			<li class="item"><a href="/">All</a></li>
			<li class="item"><a href="/html/javascript/">Javascript</a></li>
			<li class="item"><a href="/html/node/">Node</a></li>
			<li class="item"><a href="/html/jquery/">JQuery</a></li>
			<li class="item">
				<a>More</a>
				<ul class="more-nav">
					<li class="item2"><a href="/html/html5/">html5</a></li>
					<li class="item2"><a href="/html/css3/">css3</a></li>
					<li class="item2"><a href="/html/gulp/">Gulp</a></li>
					<li class="item2"><a href="/html/git/">Git</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="header-right">
		<div class="login">
			<a href="#">LOG IN</a>
		</div>
		<div class="signup">
			<a href="#">SIGN UP</a>
		</div>
		<div class="search">
			<a href="#"></a>
		</div>
		<div class="sli-button">
			<span class="t"></span>
			<span class="m"></span>
			<span class="b"></span>
		</div>
	</div>
</header>
<header class="header-space"></header>