<header>
	<div class="main">
		<a href="/" class="logo"><img src="../images/index/avator.jpg" /></a>
		<div class="search">
			<div class="search-box">
				<div class="tags">
					<span class="default">DEMO<div class="close">&#xe615;</div></span>
		            <span class="purple">ECMASCRIPT<div class="close">&#xe615;</div></span>
		            <span class="light-red">MICHELA<div class="close">&#xe615;</div></span>
		            <span class="light-green">REACT<div class="close">&#xe615;</div></span>
		            <span class="light-orange">TYPESCRIPT<div class="close">&#xe615;</div></span>
				</div>
				<div class="down-arrow"><span>&#xe60e;</span></div>
				<a class="search-btn" href="javascript:;"><span>&#xe60d;</span></a>
			</div>

			<div class="search-select">
				<div class="card">
					<div class="type javascript">Javascript</div>
					<input type="checkbox" />
				</div>

				<div class="card">
					<div class="type gulp">Gulp</div>
					<input type="checkbox" />
				</div>

				<div class="card">
					<div class="type require">Require</div>
					<input type="checkbox" />
				</div>

				<div class="card">
					<div class="type angular">Angular</div>
					<input type="checkbox" />
				</div>

				<div class="card">
					<div class="type typescript">Typescript</div>
					<input type="checkbox" />
				</div>

				<div class="card">
					<div class="type react">React</div>
					<input type="checkbox" />
				</div>

				<div class="card">
					<div class="type es6">ES6</div>
					<input type="checkbox" />
				</div>
			</div>
		</div>
		<div class="show-position">
			<a href="#">&#xe60c;</a>
			<a href="#">&#xe611;</a>
			<a href="#">&#xe610;</a>
			<a href="#">&#xe60f;</a>
		</div>
	</div>
</header>
