<header>
    <div class="main">
        <div class="nav-l">
            <a href="/" class="index"><i></i>首页</a>
            <a href="/blog" class="blog">博客</a>
            <a href="/live" class="live">心情</a>
            <a href="/about" class="about">关于我</a>
        </div>
        <div class="nav-l-small">
            <a href="" class="icon"></a>
            <div class="slide-down">
                <a href="#" class="index">Index</a>
                <a href="#" class="blog">博客</a>
                <a href="" class="live">心情</a>
                <a href="" class="about">关于我</a>
            </div>
        </div>
        <div class="nav-r">
            <a href="#"><i class="github"></i></a>
            <a href="#"><i class="wechart"></i></a>
            <a href="#"><i class="segmentfault"></i></a>
        </div>
    </div>
</header>
