<aside>
    <div class="main">
        <section class="wb-news">
            <div class="title-box">
                <img src="../images/index/avator.jpg" />
                <div class="nickname">
                    <div class="title">Michelle</div>
                    <div class="time">2016-10-09 33:12</div>
                </div>
            </div>
            <div class="message">React makes it painless to create interactive UIs. Design simple views for each state in your application, and React will efficiently update and render just the right components when your data changes.</div>
            <div class="more">
                <div class="icon read-count"><span>&#xe609;</span><span>789</span></div>
                <div class="icon comment-count"><span>&#xe608;</span><span>74</span></div>
                <div class="icon like-count"><span>&#xe60b;</span><span>280</span></div>
                <div class="icon share-count"><span>&#xe60a;</span><span>333</span></div>
            </div>
        </section>

        <section class="wb-news">
            <div class="title-box">
                <img src="../images/index/avator.jpg" />
                <div class="nickname">
                    <div class="title">Michelle</div>
                    <div class="time">2016-10-09 33:12</div>
                </div>
            </div>
            <div class="message">React makes it painless to create interactive UIs. Design simple views for each state in your application, and React will efficiently update and render just the right components when your data changes.</div>
            <div class="more">
                <div class="icon read-count"><span>&#xe609;</span><span>789</span></div>
                <div class="icon comment-count"><span>&#xe608;</span><span>74</span></div>
                <div class="icon like-count"><span>&#xe60b;</span><span>280</span></div>
                <div class="icon share-count"><span>&#xe60a;</span><span>333</span></div>
            </div>
        </section>

        <section class="wb-news">
            <div class="title-box">
                <img src="../images/index/avator.jpg" />
                <div class="nickname">
                    <div class="title">Michelle</div>
                    <div class="time">2016-10-09 33:12</div>
                </div>
            </div>
            <div class="message">React makes it painless to create interactive UIs. Design simple views for each state in your application, and React will efficiently update and render just the right components when your data changes.</div>
            <div class="more">
                <div class="icon read-count"><span>&#xe609;</span><span>789</span></div>
                <div class="icon comment-count"><span>&#xe608;</span><span>74</span></div>
                <div class="icon like-count"><span>&#xe60b;</span><span>280</span></div>
                <div class="icon share-count"><span>&#xe60a;</span><span>333</span></div>
            </div>
        </section>

        <section class="wb-news">
            <div class="title-box">
                <img src="../images/index/avator.jpg" />
                <div class="nickname">
                    <div class="title">Michelle</div>
                    <div class="time">2016-10-09 33:12</div>
                </div>
            </div>
            <div class="message">React makes it painless to create interactive UIs. Design simple views for each state in your application, and React will efficiently update and render just the right components when your data changes.</div>
            <div class="more">
                <div class="icon read-count"><span>&#xe609;</span><span>789</span></div>
                <div class="icon comment-count"><span>&#xe608;</span><span>74</span></div>
                <div class="icon like-count"><span>&#xe60b;</span><span>280</span></div>
                <div class="icon share-count"><span>&#xe60a;</span><span>333</span></div>
            </div>
        </section>

        <section class="wb-news">
            <div class="title-box">
                <img src="../images/index/avator.jpg" />
                <div class="nickname">
                    <div class="title">出线好困难啊</div>
                    <div class="time">2016-10-09 33:12</div>
                </div>
            </div>
            <div class="message">微博开放平台为移动应用提供了便捷的合作模式,满足了多元化移动终端用户随时随地快速登录、分享信息的需求,助力实现移动Apps、健康设备、智能家居,车载等多类型终端的社...</div>
            <div class="more">
                <div class="icon read-count"><span>&#xe609;</span><span>789</span></div>
                <div class="icon comment-count"><span>&#xe608;</span><span>74</span></div>
                <div class="icon like-count"><span>&#xe60b;</span><span>280</span></div>
                <div class="icon share-count"><span>&#xe60a;</span><span>333</span></div>
            </div>
        </section>
    </div>
</aside>
