<aside>
    <div class="main">
        {% for post in site.tags.important %}
            <section class="tag-important">
                <div class="title-box">
                    <img src="{{post.image}}" />
                    <div class="nickname">
                        <div class="title">{{post.title}}</div>
                        <div class="time">{{post.date | date: "%Y %h %d"}}</div>
                    </div>
                </div>
                <div class="message">{{post.desc}}</div>
                <div class="more">
                    <div class="icon read-count"><span><a href="{{post.url}}">&#xe609;</a></span></div>
                    <div class="icon comment-count"><span>&#xe608;</span></div>
                    <div class="icon like-count"><span>&#xe60b;</span></div>
                    <div class="icon share-count"><span>&#xe60a;</span></div>
                </div>
            </section>
        {% endfor %}
    </div>
    
    <h4>Category</h4>
    <ul>
        {% for category in site.categories %}
            <li><a href="/static/category/category.html?category={{ category | first }}" title="view all posts">{{ category | first }}({{ category | last | size }})</a></li>
        {% endfor %}
    </ul>
</aside>
