@charset 'UTF-8';

a,img {
    -webkit-touch-callout: none;
}

a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background-color: #f5f8f9;
    -webkit-text-size-adjust: 100%!important;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
}

input {
    outline: 0;
}

li,ol,ul {
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.clear:after,.clearfix {
    font-size: 0;
    display: block;
    clear: both;
    height: 0;
    content: '';
}

.clear {
    zoom: 1;
}

.aninode {
    visibility: hidden;
}

.animated .aninode,.animated.aninode {
    visibility: visible;
}

@font-face {
    font-family:ProximaNovaReg;src:url(/static/fonts/ProximaNova-reg/ProximaNovaReg.eot);src:url(/static/fonts/ProximaNova-reg/ProximaNovaReg.eot) format('embedded-opentype'),url(/static/fonts/ProximaNova-reg/ProximaNovaReg.woff2) format('woff2'),url(/static/fonts/ProximaNova-reg/ProximaNovaReg.woff) format('woff'),url(/static/fonts/ProximaNova-reg/ProximaNovaReg.ttf) format('truetype'),url(/static/fonts/ProximaNova-reg/ProximaNovaReg.svg#ProximaNovaReg) format('svg');
}

@font-face {
    font-family:siyuanHT-reg;src:url(/static/fonts/siyuanHT-reg/webfont.eot);src:url(/static/fonts/siyuanHT-reg/webfont.eot) format('embedded-opentype'),url(/static/fonts/siyuanHT-reg/webfont.woff2) format('woff2'),url(/static/fonts/siyuanHT-reg/webfont.woff) format('woff'),url(/static/fonts/siyuanHT-reg/webfont.ttf) format('truetype'),url(/static/fonts/siyuanHT-reg/webfont.svg#webfont) format('svg');
}

header {
    font-size: 14px;
    height: 70px;
    color: #fff;
}

header .main {
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 100%;
    margin: 0 auto;
}

header .nav-l {
    height: 100%;
}

header .nav-l a {
    line-height: 70px;
    display: inline-block;
    height: 100%;
    padding: 0 15px;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    color: #fff;
}

header .nav-l a:hover {
    background-color: rgba(255,255,255,.2);
}

header .nav-l .index i {
    position: relative;
    top: 11px;
    left: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: url(/static/images/index/logo.png) no-repeat;
    background-size: 24px;
}

header .nav-r {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

header .nav-r a {
    display: inline-block;
    width: 48px;
    height: 100%;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
}

header .nav-r a:hover {
    background-color: rgba(255,255,255,.2);
}

header .nav-r a i {
    display: block;
    width: 24px;
    height: 24px;
    margin: 23px auto;
    background-repeat: no-repeat;
    background-size: contain;
}

header .github {
    background-image: url(/static/images/index/github.png);
}

header .segmentfault {
    background-image: url(/static/images/index/s.png);
}

header .wechart {
    background-image: url(/static/images/index/weixin.png);
}

header .nav-phone {
    display: none;
}

@media (max-width:580px) {
    header .nav-l {
        display: none;
    }

    header .nav-r {
        display: none;
    }

    header .nav-phone {
        display: block;
    }

    header .nav-l-small {
        display: none;
    }
}

header .nav-phone {
    position: fixed;
    width: 100%;
    height: 70px;
}

header .icon {
    position: absolute;
    top: 10px;
    left: 16px;
    width: 50px;
    height: 50px;
    color: #fff;
    border: 1px solid #fff;
}

footer {
    font-family: proxima;
    font-size: 12px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    color: #ccc;
    border-top: 1px solid #eceff2;
}

body {
    font-family: fzlt-qianhei,'Helvetica Neue',Helvetica,'Nimbus Sans L',Arial,'Liberation Sans','PingFang SC','Hiragino Sans GB','Source Han Sans CN','Source Han Sans SC','Microsoft YaHei','Wenquanyi Micro Hei','WenQuanYi Zen Hei','ST Heiti',SimHei,'WenQuanYi Zen Hei Sharp',sans-serif;
    background-color: #fff;
}

section.banner {
    position: relative;
}

section.banner .block-img {
    display: block;
    visibility: hidden;
    width: 100%;
    min-height: 500px;
}

section.banner .full {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

section.banner .full-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/static/images/index/bg.jpg) no-repeat #0f2634;
    background-size: cover;
}

section.banner .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}

section.banner .view {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

section.banner .view-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: url(/static/images/index/logo128.png) no-repeat;
    background-size: contain;
}

section.banner p {
    text-align: center;
    color: #fff;
}

section.banner .slog-top {
    font-family: fzlt-qianhei,'Helvetica Neue',Helvetica,'Nimbus Sans L',Arial,'Liberation Sans','PingFang SC','Hiragino Sans GB','Source Han Sans CN','Source Han Sans SC','Microsoft YaHei','Wenquanyi Micro Hei','WenQuanYi Zen Hei','ST Heiti',SimHei,'WenQuanYi Zen Hei Sharp',sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 30px 0 10px;
}

section.banner .click-me {
    line-height: 40px;
    display: block;
    width: 120px;
    height: 40px;
    margin: 60px auto 0;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background-color: #f24747;
}

section.banner .click-me:hover {
    background-color: #fa6666;
}

@media (max-width:580px) {
    section.banner .slog-top {
        font-size: 18px;
    }

    section.banner .view-logo {
        width: 80px;
        height: 80px;
    }

    section.banner .view {
        top: 55%;
    }
}

section.object {
    height: 370px;
    margin-top: 150px;
}

section.object .main {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1020px;
    height: 100%;
    margin: 0 auto;
}

section.object .title {
    font-size: 20px;
    text-align: center;
}

section.object .code-img {
    position: absolute;
    top: 20%;
    left: 50%;
    display: block;
    width: 80%;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

section.object .code-img:hover {
    -webkit-transform: translateX(-50%) translateY(-20px);
    -moz-transform: translateX(-50%) translateY(-20px);
    -ms-transform: translateX(-50%) translateY(-20px);
    transform: translateX(-50%) translateY(-20px);
}

section.ofen {
    margin-top: 150px;
    padding-bottom: 150px;
}

section.ofen .main {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

section.ofen .title {
    font-size: 20px;
    text-align: center;
}

section.ofen .items {
    margin-top: 40px;
    text-align: center;
}

section.ofen .item {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 30px 50px;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s;
}

section.ofen .item a {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    background: url(/static/images/index/icon-sp.jpg) no-repeat;
    background-size: cover;
}

section.ofen .item a.sf {
    background-position: 0 -50px;
}

section.ofen .item a.jobbole {
    background-position: 0 -100px;
}

section.ofen .item a.ui {
    background-position: 0 -150px;
}

section.ofen .item a.dribbble {
    background-position: 0 -200px;
}

section.ofen .item a.xina {
    background-position: 0 -250px;
}

section.ofen .item a.weixin {
    background-position: 0 -298px;
}

section.ofen .item a.w3cfuns {
    background-position: 0 -350px;
}

section.ofen .item a.lolduowan {
    background-position: 0 -400px;
}

section.ofen .item a.zhihu {
    background-position: 0 -450px;
}

section.ofen .item img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

section.ofen .item:hover {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.3);
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}

section.ofen .item:hover a {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}