@font-face {
    font-family: 'ProximaNovaReg';
    src: url('/static/fonts/ProximaNova-reg/ProximaNovaReg.eot');
    src: url('/static/fonts/ProximaNova-reg/ProximaNovaReg.eot') format('embedded-opentype'),
         url('/static/fonts/ProximaNova-reg/ProximaNovaReg.woff2') format('woff2'),
         url('/static/fonts/ProximaNova-reg/ProximaNovaReg.woff') format('woff'),
         url('/static/fonts/ProximaNova-reg/ProximaNovaReg.ttf') format('truetype'),
         url('/static/fonts/ProximaNova-reg/ProximaNovaReg.svg#ProximaNovaReg') format('svg');
}
