@font-face {
    font-family: 'SourceCodeProRegular';
    src: url('/static/fonts/sourceCodePro/SourceCodeProRegular.eot');
    src: url('/static/fonts/sourceCodePro/SourceCodeProRegular.eot') format('embedded-opentype'),
         url('/static/fonts/sourceCodePro/SourceCodeProRegular.woff2') format('woff2'),
         url('/static/fonts/sourceCodePro/SourceCodeProRegular.woff') format('woff'),
         url('/static/fonts/sourceCodePro/SourceCodeProRegular.ttf') format('truetype'),
         url('/static/fonts/sourceCodePro/SourceCodeProRegular.svg#SourceCodeProRegular') format('svg');
}