@import "../libs/reset";

header {
    height: 75px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);

	.main {
		width: 100%;
		max-width: 1200px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.logo {
		display: block;
		width: 40px;
		height: 40px;
		img {
			width: 100%;
		}
	}

	.show-position {
		flex: 1;
		margin-left: 30px;
		display: flex;
		height: 20px;
		justify-content: flex-end;

		a {
			font-family: iconfont;
			color: #727272;
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			margin-left: 50px;
			transition: 0.4s;
			&:hover {
				color: #84a6d3;
			}
		}
	}

	@include screen_pad {
		.main {
			padding: 0 16px;
			box-sizing: border-box;
		}
	}

	@include screen_small {
		height: 50px;
	}
}
