---
layout: default
---

<div class="index-content">
	<div class="wrapper">
		<div class="top-container clearfix">
			<div class="details">
				<h2 class="section-title">Node</h2>
				<p class="section-meta">Node 是一个 Javascript 运行环境(runtime)。实际上它是对 Google V8 引擎（应用于 Google Chrome 浏览器）进行了封装。V8 引擎执行 Javascript 的速度非常快，性能非常好。Node 对一些特殊用例进行了优化，提供了替代的 API，使得 V8 在非浏览器环境下运行得更好。</p>
			</div>
		</div>

		<div class="cards clearfix">
			<!-- 文章列表 -->
			{% for post in site.tags.node %}
				<div class="card">
					<a href="{{ post.url | prepend: site.baseurl }}"><div class="card-img"></div></a>
					<div class="card-info">
						<a href="{{ post.url | prepend: site.baseurl }}"><div class="card-title">{{ post.title }}</div></a>
						<div class="in">
							<div class="tags">
								{% for tag in post.tags %}
									<span class="{{ tag }}"></span>
								{% endfor %}
							</div>
							<div class="time">{{ post.date | date: "%b %-d, %Y" }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
