<!DOCTYPE html>
<html>
	{% include head.html %}
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<body>
	{% include header.html %}
	{{ content }}
	{% include footer.html %}

	<script src="/js/lib/jquery-2.0.3.js"></script>
	<script src="/js/lib/lazyload.js"></script>
	<script src="/js/lib/j2ckf.js"></script>
	<script src="/js/lib/css3-animation.js"></script>
	<script src="/js/index.js"></script>
	<script src="/js/header.js"></script>

	<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<!-- <script src="http://wq.fabuxinxi.net/auth/config/"></script> -->
	<!-- <script type="text/javascript">
	wx.ready(function() {
		wx.onMenuShareAppMessage({
			title: '互联网之子',
			desc: '在长大的过程中，我才慢慢发现，我身边的所有事，别人跟我说的所有事，那些所谓本来如此，注定如此的事，它们其实没有非得如此，事情是可以改变的。更重要的是，有些事既然错了，那就该做出改变。',
			link: 'http://movie.douban.com/subject/25785114/',
			imgUrl: 'http://demo.open.weixin.qq.com/jssdk/images/p2166127561.jpg',
			trigger: function (res) {
				// 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
				alert('用户点击发送给朋友');
			},
			success: function (res) {
				alert('已分享');
			},
			cancel: function (res) {
				alert('已取消');
			},
			fail: function (res) {
				alert(JSON.stringify(res));
			}
		});

		wx.onMenuShareTimeline({
			title: '互联网之子',
			link: 'http://movie.douban.com/subject/25785114/',
			imgUrl: 'http://demo.open.weixin.qq.com/jssdk/images/p2166127561.jpg',
			trigger: function (res) {
				// 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
				alert('用户点击分享到朋友圈');
			},
			success: function (res) {
				alert('已分享');
			},
			cancel: function (res) {
				alert('已取消');
			},
			fail: function (res) {
				alert(JSON.stringify(res));
			}
		});

		wx.onMenuShareQQ({
			title: '互联网之子',
			desc: '在长大的过程中，我才慢慢发现，我身边的所有事，别人跟我说的所有事，那些所谓本来如此，注定如此的事，它们其实没有非得如此，事情是可以改变的。更重要的是，有些事既然错了，那就该做出改变。',
			link: 'http://movie.douban.com/subject/25785114/',
			imgUrl: 'http://img3.douban.com/view/movie_poster_cover/spst/public/p2166127561.jpg',
			trigger: function (res) {
				alert('用户点击分享到QQ');
			},
			complete: function (res) {
				alert(JSON.stringify(res));
			},
			success: function (res) {
				alert('已分享');
			},
			cancel: function (res) {
				alert('已取消');
			},
			fail: function (res) {
				alert(JSON.stringify(res));
			}
		});
		wx.onMenuShareQZone({
			title: '互联网之子',
			desc: '在长大的过程中，我才慢慢发现，我身边的所有事，别人跟我说的所有事，那些所谓本来如此，注定如此的事，它们其实没有非得如此，事情是可以改变的。更重要的是，有些事既然错了，那就该做出改变。',
			link: 'http://movie.douban.com/subject/25785114/',
			imgUrl: 'http://img3.douban.com/view/movie_poster_cover/spst/public/p2166127561.jpg',
			trigger: function (res) {
				alert('用户点击分享到QZone');
			},
			complete: function (res) {
				alert(JSON.stringify(res));
			},
			success: function (res) {
				alert('已分享');
			},
			cancel: function (res) {
				alert('已取消');
			},
			fail: function (res) {
				alert(JSON.stringify(res));
			}
		});
	});
	</script> -->
</body>
</html>
