<!DOCTYPE html>
<html>
	{% include head-post.html %}
<body>
	{% include header.html %}
	{{ content }}
	{% include comments.html %}
	{% include footer.html %}

	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"ybobo"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
		</script>
	<!-- 多说公共JS代码 end -->

	<script src="/js/lib/jquery-2.0.3.js"></script>
	<script src="/js/post.js"></script>
</body>
</html>