---
layout: default-post
---
<article class="post">
	<div class="wrapper">
		<div class="post-header">
			<h2 class="post-title">{{ page.title }}</h2>
		</div>
		
		<div class="whole-content clearfix">
			<div class="post-side">
				<div id="position-wrap">
					<h3 class="">文章目录</h3>
					<ul id="nav-list">
						<li class="active"><a href="#header1">header1</a></li>
						<li><a href="#header2">header2</a></li>
						<li><a href="#header3">header3</a></li>
						<li><a href="#header4">header4</a></li>
						<li><a href="#header5">header5</a></li>
						<li><a href="#header2">header2</a></li>
					</ul>
				</div>
			</div>
			<div class="post-content">
				{{ content }}
			</div>
		</div>
	</div>
</article>
