<!DOCTYPE html>
<html>
	{% include head.html %}
	<link rel="stylesheet" href="{{ "/static/pages/posts/posts.css" | prepend: site.baseurl }}">
<body>
	{% include header.html %}
	<article class="post">
		<div class="post-header">{{ page.title }}</div>
		<div class="post-content">
			{{ content }}
		</div>
		<div class="comments">
			<!--多说评论框 start-->
			<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
			<!--多说评论框 end-->
		</div>
	</article>
	<!--多说公共JS代码 start (一个网页只需插入一次)-->
	<!-- <script type="text/javascript">
		var duoshuoQuery = {short_name:"ybobo"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';
			ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0]
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
	</script> -->
	<!--多说公共JS代码 end-->

	<!-- UY BEGIN -->
	<div id="uyan_frame"></div>
	<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2100302"></script>
	<!-- UY END -->

	{% include footer.html %}
	<script data-main="/static/pages/posts/app" src="/static/scripts/libs/require.js"></script>
</body>
</html>
