---
layout: default
---

<div class="index-content">
	<div class="wrapper">
		<div class="top-container clearfix">
			<div class="details">
				<h2 class="section-title">Javascript</h2>
				<p class="section-meta">JavaScript 是一门弱类型的动态脚本语言，支持多种编程范式，包括面向对象和函数式编程，被广泛用于 web 开发。</p>
			</div>
		</div>

		<div class="cards clearfix">
			<!-- 文章列表 -->
			{% for post in site.tags.javascript %}
				<div class="card">
					<a href="{{ post.url | prepend: site.baseurl }}"><div class="card-img"></div></a>
					<div class="card-info">
						<a href="{{ post.url | prepend: site.baseurl }}"><div class="card-title">{{ post.title }}</div></a>
						<div class="in">
							<div class="tags">
								{% for tag in post.tags %}
									<span class="{{ tag }}"></span>
								{% endfor %}
							</div>
							<div class="time">{{ post.date | date: "%b %-d, %Y" }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
